*{
    font-family: 'Inter'; 
}

.bodySection{
    background-color: #fcf9f3;
  }
 
h1{
    text-shadow: 2px 2px 4px rgba(23, 107, 186, 0.8);
}

main{
    display: flex;
    margin-bottom: 80px;
    margin-left: 50px;

}

.boxText1{
    border: none;
    color: #008080;
    height: 400px;
    text-transform: lowercase;
    resize: none;
}
::placeholder{color: #008080;}
    .boxText1:focus{
        outline: none;
    }

.boxText2{
    background-color: white;
    background-image: url("img/iamgenEncri.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color:#008080;
    height: 400px;
    resize: none;
    
}
.boxText2:focus{
    outline: none;
}
.textoCondiciones{
    font-size: 15px;
    font-weight: bold;
}
.botones{
    display: flex;
    
}
.btn-encriptador{
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 300px;
}
.btn-desencriptar{
    background-color: #D8DFE3;
    border: 1px solid #008080;
    border-radius: 24px;
    color: #008080;
    cursor: pointer;
    height: 67px;
    width: 300px; 
    margin-left: 30px;
}
.btn-copiar{
    background-color: #008080;
    border: 1px solid #008080;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 300px;
   
}
.footerc{
    background: linear-gradient(to bottom, #4e98e0, #265b99);
      padding: 20px;
      text-align: center;
      margin-left: -15px;
      margin-bottom: -20px;
      text-align: center;
      width: 100%;
}
.datosFooter{
      color: black;
      text-shadow: 2px 2px 4px rgba(17, 222, 212, 0.8);
      padding: 10px;
      font-size: 20px;
}

/*Responsive mobile*/
@media (max-width: 768px) {
    
    h1 {
        text-align: center;
        font-size: 20px;
    }

    main {
        margin-left: 5px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
       
    }
    .bloque1{
        width: 100%;
    }
    .bloque2{
        width: 100%;
    }
    textarea {
        width: 100%;

    }
    .boxText2{
       margin-top: 10px;
    }

    .aviso {
        text-align: center;
    }

    .textoCondiciones {
        font-size: 12px;
        color: red;
    }

    .botones {
        width: 100%;
        text-align: center;
    }

    .btn-encriptador,
    .btn-desencriptar {
        width: 200px;
        font-size: 20px;
        
    }
    
    .btn-copiar{
        margin-top: 10px;
        width: 200px;
        margin-left: auto;
        font-size: 20px;
    }
    footer{
        width: 100%;
        margin-top: 100px;
    }
    
}
